<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VC助手启动动画.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F1F540A51F32C2D000BB192E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1F540BE1F32C2D000BB192E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1F540C91F32C2D000BB192E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
